<div class="container">
    <h1>r3lient security</h1>
    <p>a place to store security knowledge</p>
    <%= link_to "News", root_path, class: "btn btn-secondary"%>
    <%= link_to "Blog", posts_path, class: "btn btn-primary"%>
</div>
