<div class="container">
    <h1>Latest Topics</h1>
    <p></p>
    <%= link_to "about me", about_path, class: "btn btn-secondary"%>
    <%= link_to "posts", posts_path, class: "btn btn-primary" %>
</div>
